
.card{
   display: flex;
    width: 100%;

    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 15%;
  
}

.sedan{
    width: 250px;
    height: 400px;
    background-color:hsl(31, 77%, 52%);
    color: aliceblue;
    text-align: center;
    border-radius: 15px;
    margin-right: -15px;
   

  }

  .suv{
    width: 250px;
    height: 400px;
    background-color:hsl(184, 100%, 22%);
    color: aliceblue;
    text-align: center;
 
 
  }


  .luxury{
    width: 250px;
    height: 400px;
    background-color:hsl(179, 100%, 13%);
    color: aliceblue;
    text-align: center;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
 
  }
  
p{
    padding:12%;
    word-wrap: break-word;
    margin-bottom: 15%;
    text-align: left;
    word-spacing: 10px;
   
   
    
}

h2{ 
    word-wrap: normal;
    text-align: left;
    margin-left: 30px;
}
* button {
    width: 50%;
    height: 8%;
    border-radius: 15px;
    border: 0px;
    margin-right: 60px;

  
}

button:hover{
    color: rgb(0, 35, 35);
    background-color: white;
}
  
.luxury img{ 
    width: 40px;
    height: 40px;
    margin-right: 170px;
    margin-top: 2rem;
    margin-bottom: 0px;



}

.suv img{ 
    width: 45px;
    height: 40px;
    margin-right: 160px;
    margin-top: 2rem;
    margin-bottom: 0px;

}


.sedan img{ 
    width: 40px;
    height: 40px;
    margin-right: 160px;
    margin-top: 2rem;
    margin-bottom: 0px;

}


@media (max-width :700px){
    .card{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
    




    .attribution { font-size: 11px; text-align: center; padding-top: 20px; }
    .attribution a { color: hsl(228, 45%, 44%); }

    